*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

.navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }